{% extends "base.html" %}

{% block content %}
{% for item, info in nodelist %}
    {% if info.open %}
        <ul><li>
    {% else %}
        </li><li>
    {% endif %}

    {% if item.calculatedurl %}
    <a class="unclick" href="{{ item.calculatedurl }}"> {{ item }}</a>
    {% else %}
    {{ item }}
    {% endif %}

    {% for close in info.close %}
        </li></ul>
    {% endfor %}
{% endfor %}

{% endblock %}


{% block js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('li')
            .css('pointer','default')
            .css('list-style-image','none');
        $('li:has(ul)')
            .click(function(event){
                if (this == event.target) {
                    $(this).css('list-style-image',
                        (!$(this).children().is(':hidden')) ? 'url({{ STATIC_URL }}img/arrow-right.gif)' : 'url({{ STATIC_URL }}img/arrow-down.gif)');
                    $(this).children().toggle('fast');
                }
                return false;
            })
            .css({cursor:'pointer', 'list-style-image':'url({{ STATIC_URL }}img/arrow-right.gif)'})
            .children().hide();
        $('li:not(:has(ul))').css({cursor:'default', 'list-style-image':'none'});
        $('.unclick').click(function(e) {
            //do something
            e.stopPropagation();
        })
    });
</script>
{% endblock %}