<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" crossriderapp529="true"><!-- InstanceBegin template="templates/index.dwt" codeOutsideHTMLIsLocked="false" --><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Callens Verzekeringsgroep</title>
<link rel="stylesheet" href="{{ STATIC_URL}}css/cvg.css" type="text/css">
<script type="text/javascript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>

<body onload="MM_preloadImages('http://www.callensverzekeringsgroep.be/images/visie.jpg','http://www.callensverzekeringsgroep.be/images/historiek.jpg','http://www.callensverzekeringsgroep.be/images/contact.jpg','http://www.callensverzekeringsgroep.be/images/nieuws_over.jpg','http://www.callensverzekeringsgroep.be/images/advies_over.jpg','http://www.callensverzekeringsgroep.be/images/activiteiten_over.jpg','http://www.callensverzekeringsgroep.be/images/vacature_over.jpg')"><div style="position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; z-index: 2147483647; " id="_GPL_e6a00_parent_div"><object type="application/x-shockwave-flash" id="_GPL_e6a00_swf" data="http://cdncache1-a.akamaihd.net/items/e6a00/storage.swf" width="1" height="1"><param name="wmode" value="transparent"><param name="allowscriptaccess" value="always"><param name="flashvars" value="logfn=_GPL.items.e6a00.log&amp;onload=_GPL.items.e6a00.onload&amp;onerror=_GPL.items.e6a00.onerror&amp;LSOName=gpl"></object></div>
<div align="center">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody><tr>
      <td width="*">&nbsp;</td>
      <td width="780"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td><img src="http://www.callensverzekeringsgroep.be/images/bb.jpg" width="780" height="245"></td>
        </tr>
        <tr>
          <td height="27" background="http://www.callensverzekeringsgroep.be/images/lbg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="50">&nbsp;</td>
              <td width="63"><a href="visie.htm" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('visie','','http://www.callensverzekeringsgroep.be/images/visie.jpg',1)"><img src="http://www.callensverzekeringsgroep.be/images/visie_over.jpg" alt="onze visie" name="visie" width="63" height="27" border="0" id="visie"></a></td>
              <td width="103"><a href="historiek.htm" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('historiek','','http://www.callensverzekeringsgroep.be/images/historiek.jpg',1)"><img src="http://www.callensverzekeringsgroep.be/images/historiek_over.jpg" alt="historiek" name="historiek" width="103" height="27" border="0" id="historiek"></a></td>
              <td width="120"><a href="activiteiten.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('activiteiten','','http://www.callensverzekeringsgroep.be/images/activiteiten_over.jpg',1)"><img src="http://www.callensverzekeringsgroep.be/images/activiteiten.jpg" alt="activiteiten" name="activiteiten" width="120" height="27" border="0" id="activiteiten"></a></td>




              <td width="93"><a href="nieuws.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('nieuws','','http://www.callensverzekeringsgroep.be/images/nieuws_over.jpg',1)"><img src="http://www.callensverzekeringsgroep.be/images/nieuws.jpg" alt="nieuws..." name="nieuws" width="103" height="27" border="0" id="nieuws"></a></td>
              
              <td width="63"><a href="advies.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('advies','','http://www.callensverzekeringsgroep.be/images/advies_over.jpg',1)"><img src="http://www.callensverzekeringsgroep.be/images/advies.jpg" alt="advies" name="advies" width="63" height="27" border="0" id="advies"></a></td>
              
              <td width="93"><a href="contact.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('contact','','http://www.callensverzekeringsgroep.be/images/contact.jpg',1)"><img src="http://www.callensverzekeringsgroep.be/images/contact_over.jpg" alt="contact" name="contact" width="93" height="27" border="0" id="contact"></a></td>              <td width="*"><a href="vacatures.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('vacature','','http://www.callensverzekeringsgroep.be/images/vacature_over.jpg',1)"><img src="http://www.callensverzekeringsgroep.be/images/vacature.jpg" alt="vacature" name="vacature" width="93" height="27" border="0" id="vacature"></a></td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td background="http://www.callensverzekeringsgroep.be/images/bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="20">&nbsp;</td>
              <td width="*" class="bbtxt"><table width="740" border="0" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                      <td width="510" class="txt" valign="top">
                        <!-- InstanceBeginEditable name="title" -->
                        <!-- InstanceEndEditable -->
                        <table width="510" border="0" cellspacing="0" cellpadding="0">
                          <tbody><tr>
                            <td width="43"></td>
                            <td width="457" valign="top" align="left"><!-- InstanceBeginEditable name="txt" -->
                            	{% block content %}
                            	{% endblock %}
                              </td>
                            <td width="10">
                            </td>
                          </tr>
                        </tbody></table>     
                        
                      </td>
                      <td width="20" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                          <td height="80">&nbsp;</td>
                        </tr>
                        <tr>
                          <td background="http://www.callensverzekeringsgroep.be/images/line.gif">   <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p></td>
                        </tr>
                      </tbody></table></td>
                      <td width="210" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                          <td height="90">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>   <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                              <td colspan="2" valign="top" background="http://www.callensverzekeringsgroep.be/images/menuline.gif" class="txtdark"><strong>PRAKTISCHE INFORMATIE</strong></td>
                            </tr>

                            <tr>
                              <td width="20" align="left" valign="top"><div align="left"><img src="http://www.callensverzekeringsgroep.be/images/arrow2.gif" width="16" height="18"></div></td>
                              <td width="*" valign="top" background="http://www.callensverzekeringsgroep.be/images/menuline.gif" class="txtdark"><div align="left"><a href="openingsuren.htm">openingsuren en contactpersonen</a></div></td>
                            </tr>
                            <tr>
                              <td><div align="left"></div></td>
                              <td valign="top" background="http://www.callensverzekeringsgroep.be/images/menuline.gif" class="txtdark"><div align="left"></div></td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td>&nbsp;</td>
                            </tr>
                          </tbody></table>
                            <p><a href="http://www.europ-assistance.be/agent.jsp?LngCod=N&amp;MenId=31&amp;AgtNum=callens" target="_blank"><img src="http://www.callensverzekeringsgroep.be/images/bijstandsverzekering.gif" alt="bijstandsverzekering" width="210" height="75" border="0"></a><br><a href="http://www.axa.be/ma/nl/sofisk.html" target="_blank"><img src="http://www.callensverzekeringsgroep.be/images/belastingsaangifte.gif" alt="belastingsaangifte" width="210" height="75" border="0"></a><br><a href="mycallens.php">
                              <img src="http://www.callensverzekeringsgroep.be/images/mycallens.jpg" alt="my callens" width="210" height="160" border="0"></a></p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p></td>
                        </tr>
                      </tbody></table></td>
                    </tr>
                  </tbody></table></td>
              <td width="20">&nbsp;</td>
            </tr>
          </tbody></table></td>
        </tr>
        <tr>
          <td><img src="http://www.callensverzekeringsgroep.be/images/tail.jpg" width="780" height="90"></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </tbody></table></td>
      <td width="*">&nbsp;</td>
    </tr>
  </tbody></table>
</div>

<!-- InstanceEnd -->
<div id="crossrider-app-stub529"></div><div id="cboxOverlay" style="display: none; "></div><div id="colorbox" class="" style="display: none; "><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left; "></div><div id="cboxTopCenter" style="float: left; "></div><div id="cboxTopRight" style="float: left; "></div></div><div style="clear: left; "><div id="cboxMiddleLeft" style="float: left; "></div><div id="cboxContent" style="float: left; "><div id="cboxLoadedContent" style="width: 0px; height: 0px; overflow: hidden; float: left; "></div><div id="cboxLoadingOverlay" style="float: left; "></div><div id="cboxLoadingGraphic" style="float: left; "></div><div id="cboxTitle" style="float: left; "></div><div id="cboxCurrent" style="float: left; "></div><div id="cboxNext" style="float: left; "></div><div id="cboxPrevious" style="float: left; "></div><div id="cboxSlideshow" style="float: left; "></div><div id="cboxClose" style="float: left; "></div></div><div id="cboxMiddleRight" style="float: left; "></div></div><div style="clear: left; "><div id="cboxBottomLeft" style="float: left; "></div><div id="cboxBottomCenter" style="float: left; "></div><div id="cboxBottomRight" style="float: left; "></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; "></div></div><acp id="acp_func_active"></acp>
{% block js %}
{% endblock %}

</body></html>